<?php
    /** @var \DigitalBoutique\Test\Block\M2test $block */
?>
<form class="form"
      action="<?php echo $block->getFormAction() ?>"
      id="custom-form"
      method="get"
      data-hasrequired="<?php  echo __('* Required Fields') ?>"
      data-mage-init='{"validation":{}}'>

    <fieldset class="fieldset">
        <div class="field name required">
            <label class="label" for="name"><span><?php  echo __('Product Sku') ?></span></label>
            <div class="control">
                <input name="product_sku" id="name" title="<?php  echo __('Product Sku') ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
    </fieldset>

    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" title="<?php  echo __('Submit') ?>" class="action submit primary" id="custom_btn">
                <span><?php  echo __('Submit') ?></span>
            </button>
        </div>
    </div>

</form>